# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env

# Logs
logs/
*.log

# Database (local vector db)
chroma_db/

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db
md5.text

